<a href="https://colab.research.google.com/github/Edilsonjunior81/Workshop-dados2025.2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

# Criar DataFrame
data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'nome': ['Ana', 'Bruno', 'Carla', 'Daniel', 'Érica', 'Francisco', 'Gabriela', 'Henrique', 'Ivana', 'José'],
    'idade': ['25', 'vinte e três', '30', None, '27', '29', '21', '19', '11', '?'],
    'data_inscricao': ['2023-05-12', '2023/13/01', None, '2022-07-15', '2022-08-XX', '15/09/2022',
                       '2023-01-05', '2023-02-30', '2023-03-10', '2022-11-25'],
    'nota': ['8.5', '9.0', None, '7.2', '8', 'dez', '10', '9.5', None, '6.7'],
    'ativo': ['Sim', 'TRUE', 'Não', 'sim', 'e', 'FALSE', 'TRUE', 'nao', 'Yes', 'sim']
}
df = pd.DataFrame(data)

# Limpeza e padronização
df = df.dropna(subset=['nome'])
df['idade'] = pd.to_numeric(df['idade'].replace({'vinte e três': 23, '?': np.nan}), errors='coerce').fillna(0).astype(int)
df['data_inscricao'] = pd.to_datetime(df['data_inscricao'], errors='coerce')
df['nota'] = pd.to_numeric(df['nota'].replace({'dez': 10}), errors='coerce').fillna(0).astype(float)
df['ativo'] = df['ativo'].str.strip().str.lower().map({'sim': True, 'true': True, 'yes': True,
                                                      'não': False, 'nao': False, 'false': False, 'e': np.nan})
df = df.drop_duplicates()
df.rename(columns={'nome':'name', 'idade':'age', 'data_inscricao':'registration_date',
                   'nota':'grade', 'ativo':'active'}, inplace=True)

# Visualizar resultado
print("Tabela após tratamento:")
print(df)
print("\nInformações do DataFrame:")
print(df.info())

Tabela após tratamento:
   id       name  age registration_date  grade active
0   1        Ana   25        2023-05-12    8.5   True
1   2      Bruno   23               NaT    9.0   True
2   3      Carla   30               NaT    0.0  False
3   4     Daniel    0        2022-07-15    7.2   True
4   5      Érica   27               NaT    8.0    NaN
5   6  Francisco   29               NaT   10.0  False
6   7   Gabriela   21        2023-01-05   10.0   True
7   8   Henrique   19               NaT    9.5  False
8   9      Ivana   11        2023-03-10    0.0   True
9  10       José    0        2022-11-25    6.7   True

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10 non-null     int64
 1   name               10 non-null     object
 2   age                10 non-null     int64
 3   registration_date  5 non-null      datetime64[ns]
 4   grade              10 non-null     float64
 5   active             9 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 612.0+ bytes
None